<div class="holder round">
	<h2>
		You've not created any student groups!  Click the button below to get started.
	</h2>
	<div id="buttons">
		<%= link_to "Create a new group", new_student_group_path, 
		    class: "big_button round unselectable" %>
	</div>
</div>