<table class="fixed">
  <tbody>
	  <tr>
		  <th></th>
	  	<th>Student average:</th>
	  </tr>
    <% if group.students.present? %>
		  <% group.students.all.each do |student| %>
  	    <tr class="<%= cycle("odd", "even", name: "students")%>">
  	    	<td><%= link_to "#{student.name}", student_path({student_group_id: student.student_group_id, id: student.id})%></td>
          <% if student.avg.nan? %>
					  <td class="strong">No data yet!</td>
					<% else %>
					  <td class="avg_row"><%= student.avg %></td>
					<% end %>
          <td></td>
  	    </tr>
			<% end %>
			<% reset_cycle("students") %>
		<% else %>
			  <%= link_to "Add a student", new_student_group_student_path(group), class: "big_button round unselectable" %>
			<% end %>
  </tbody>
</table>