<div>
	<% @student_groups.each do |group| %>
	  <%= render "group_index", :group => group %>
	  <div class="clear"></div>
	<% end %>
</div>

<br />

<% if @student_groups.first.nil? %>
  <%= render "no_groups" %>
<% else %>
	  <%= link_to "Create a new group", new_student_group_path %>
<% end %>