<table class="student_groups_index">
  
  <% @student_groups.each do |student_group| %>
	   <tbody> 
	    <tr>
	    	<th><%= link_to student_group.name, class_path(student_group) %></th>
	    </tr>
		  <tr>
		  	<td> # of students </td>
		    <td> subjects studied </td>
		    <td> length of course </td>
		    <td> goals </td>
		  </tr>
		</tbody>
  <% end %>

</table>