<%= form_for([@user, @student_group]) do |f| %>
	
  <div class="form_section round">
		<div class="form_field round">
			<%= f.label :name, "Enter a nickname for this Class" %>
			<%= f.text_field :name %><br />
			
		</div>
  </div>

<% end %>