<div class="center">
  <% @student_group.students.each do |student| %>	  
	  <%= render "student_window", :student => student %>
	<% end %>
</div>

<p class="clear">
<%= link_to "Add a student", new_student_group_student_path(@student_group) %><br />
<%= link_to "Add a subject", new_student_group_subject_path(@student_group) %>
</p>