<div class="center">
  <% @student_group.students.each do |student| %>	  
	  <%= render "student_window", :student => student %>
	<% end %>
</div>

<p class="clear">
<%= link_to "Add students", new_student_group_student_path(@student_group, {student_group_id: @student_group.id}) %>
</p>