<div id="help" class="holder2 round">
  <h1>Need some help?</h1>
  	<p>
	    You've written goals, class has started, maybe you've given a quiz or two, and
	    you're beginning to learn how your students interact - with you, with each other, 
	    and with your course material.
	  </p>
	  <p>
	  	Now it's time to check each student against the goals you've made.  This is a 
	    straight-forward process and it's unlikely you'll have trouble,
	    regardless of how tech-savvy you are.  However, there are some things that you can 
	    do to make the process easier and more beneficial in the long run.  
	  </p>
	
		<ol><li><h4>
		  You'll be filling out evaluations by <em>student</em>, not by goal.
		</h4></li></ol>
		
		<p>
			That's not an accident.	The top of every evaluation form shows the name of	the 
			student you're about to evaluate.  Take a moment and think about this student
			before you begin.  What are they like?  Do they have to work hard at everything
			or are they naturally talented?  Are they the center of attention or the butt of
			jokes?  Do they have bigger problems than homework?  Evaluate your students based 
			on how <em><strong>that student</strong></em> meets a given goal and 
			<strong>not</strong> how they compare to others.
		</p>
		
		<ol start="2"><li><h4>
      Average is average because it's the average.
		</h4></li></ol>
		
		<p>
			Everyone has favorites - just admit it - but remember the first rule?  Judge 
			your students against their own merit, not against the rest of the class. Let's 
			say I have a favorite student - we'll call them Charlie - who is articulate, and 
			clever and catches on to things <em>so</em> quickly!  Maybe	I'm tempted to 
			give Charlie a '5' for most goals, but does she deserve it?  
		</p>
		<p>
			Remember, these are only suggestions - use this site however works best for you! - 
			but consider making a list for yourself of what the ratings mean to you, and 
			<em>stick to it</em>.  You're a teacher. You know how important consistency	is.  
		</p>
		<p>
			Here's a good starting point if you're having trouble.
		</p>
		<ol class="indent-left">
			<li>Frequently fails to meet goal</li>
			<li>Struggles to meet goal</li>			
			<li>Meets goal</li>
			<li>Surpasses goal</li>
			<li>Remarkably exceeds goal</li>
		</ol>
		<p>
			The point here is that both '1' and '5' are extreme - and you shouldn't use them 
			often. With these out of the way, it's much easier to choose from the remaining 
			options.
		</p>
		
		<ol start="3"><li><h4>
      Be here now!
		</h4></li></ol>
		<p>
			Depending on the length of your class schedule, you'll probably evaluate each group
			more than once.  While you shouldn't score students based on a single event, don't 
			think too long-term either.  Generally, picturing a student's relationship
			to a given goal over a <strong>2-week</strong> timespan is good - it's long enough 
			to notice trends, but not too long to forget details.   
		</p>

</div>