<div class="box center">
  Before continuing to the next student, 
  <br />please take a moment to review the scores for <%= @student.name %>.
  <br />  
  <span class='strong'>
    Once you have submitted them, they cannot be changed!
  </span>
</div>