/*general design elements*/

.center {
	text-align: center;
}

.round {
	-moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius:  15px;
    border-radius:         15px;
}

.strong {
	font-weight: bold;
}

/*more specifc stuff*/

.container {
	width: 710px;
}

.signup-button {
	margin-left:   auto;
	margin-right:  auto;
	margin-top:    25px;
	padding:       20px;
	width: 		   190px;
	display:       block;
	text-align:    center;
	background:    #C65622;
	color:         #fff;
	font-size:     130%;
	font-weight:   bold;	
}

.header_title {
	margin: auto auto;
	font-weight:  bold;
	font-family:  Verdana;
	color:        #C65622;
}

body {
	background: #C65622;
}

header img {
	margin-top: 1em;
}

section {
	margin-top: 2em;
	font-size:  120%;
	padding:    20px;
	background: #fff;
}

section h1 {
	font-size: 200%;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color:  #ddd;
	cursor: pointer;
}

nav {
	float: right;
	whitespace: nowrap;
	padding: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em;
}

nav ul li a {
	padding: 3px;
	font-weight: bold;
	color: #fff;
}

nav ul li a:visited {
	color: #fff;
}

footer {
	background: #fff;
	text-align: right;
	width: 710px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

/*FIELDS AND ERRORS!*/

.signup_box {
	margin-right: auto;
	margin-left:  auto;
	text-align:   center;
	width:        250px;
}

.login_button {
}

.field {
	
}



.field_with_errors {
	display:      block;
	clear:        both;	
}

#error_explanation {
	font-weight: bold;
}

.error {
	margin:      auto auto;
	font-size:   140%;
	text-align:  center;
	width:       550px;
}




/*placeholder text formatting*/
/*For Webkit browsers (Chrome, Safari) */

input::-webkit-input-placeholder {
	font-weight: bold;
}

/* For Mozilla Firefox */

input:-moz-placeholder {
    font-weight: bold;
}