		/*******************************/
		/****general design elements****/
		/*******************************/

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.right {
	text-align: right;
}

.float_right {
	float:right;
}

.float_left {
	float:left;
}

.bottom_left {
	position: absolute;
	bottom:   10%;
	left:     10%;
}

.bottom_right {
	position:  absolute;
	bottom:    10%;
	right:     10%;
}

.round {
	-moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius:  15px;
    border-radius:         15px;
}

.strong {
	font-weight: bold;
}

.unselectable {
	-webkit-user-select: 	none; /* Chrome/Safari */        
	-moz-user-select: 		none; /* Firefox */
	-ms-user-select: 		none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: 		none;
	user-select: 			none;
	
	/*http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting*/
	-webkit-touch-callout:  none;
	-webkit-user-select:    none;
	-khtml-user-select:     none;
	-moz-user-select:       none;
	-ms-user-select:        none;
	user-select: 			none;
}

		/*********************/
		/**** page layout ****/
		/*********************/

.container {
	width: 80%;
}

header {
	     /*STYLE*/
  	background:    #88935E;
    border-bottom: 5px double #6C7F21;
	width:         100%;
	height:        50px;
	opacity:       0.95;
	  /*POSITION*/
	position:      absolute;
	top:           0px;
	left:          0px;	
}

body {
	background-image: url('/assets/Deco_Tile_Seamless_Pattern_by_jilbert.png');
}

section {
	margin-top: 5em;
	font-size:  120%;
	padding:    20px;
    background: #D5E1A5;
	border:     3px solid #88935E;
}

section h1 {
	font-size: 200%;
}

a {
	color: #6C7F21;
	text-decoration: none;
}

a:hover {
	color:  #37195A;
	cursor: pointer;
}

nav {
	float: right;
	whitespace: nowrap;
	padding: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em;
}

nav ul li a {
	padding: 3px;
	font-weight: bold;
	color: #fff;
}

nav ul li a:hover {
	color:  #37195A;
	cursor: pointer;
}

nav ul li a:visited {
	color: #fff;
}

footer {
	text-align:   right;
	width:        100%;
	margin-top:   10px;
	margin-right: auto;
	margin-left:  auto;
}

		/******************************/
		/**** specific page layout ****/
		/******************************/

	/* user#index */

			ul.users {
	margin-top: 1em;
}

			ul.users li {
				margin:     10px 5px 10px 5px;
				list-style: none;
			}

		/*****************/
		/**** buttons ****/
		/*****************/
#buttons {
	position: relative;
	margin-top: 12.5%;
}

.small_button {
	width:           100px;
	background:      #88935E;
	border:          2px #6C7F21 solid;
	font:            400 45px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    text-shadow:     3px 1px 3px #6C7F21, 3px 3px 0px rgba(0,0,0,0.15);
    font-size:       100%;
	text-decoration: none;
	text-align:      center;	
}

.small_button a {
	color: #37195A; 
}

.small_button:hover {
	background:  #694D8A;
	border:      2px #37195A solid;
	text-shadow: 3px 1px 3px #37195A, 3px 3px 0px rgba(0,0,0,0.15);
}

.small_button:hover a {
	color: #6C7F21;
}

.big_button {
	background:      #88935E;
	border:          2px #6C7F21 solid;
	font:            400 70px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color:           #37195A; 
    text-shadow:     3px 1px 3px #6C7F21, 3px 3px 0px rgba(0,0,0,0.15);
	font-size:       200%;
	text-decoration: none;
	min-width:       300px;
	margin:          5px 5px 5px 5px;
	padding:         20px;
	text-align:      center;
	margin-left:     auto;
    margin-right:    auto;
}

.big_button:hover {
	background:  #694D8A;
	border:      2px #37195A solid;
	color:       #6C7F21;
	text-shadow: 3px 1px 3px #37195A, 3px 3px 0px rgba(0,0,0,0.15);
}


		/***************************/
		/**** fields and errors ****/
		/***************************/

.form_section {
	position:   relative;
	width:      40%;
	background: #B1C465;
	border:     3px #88935E solid;
	padding:    7px 7px 7px 7px;
	margin-top: 1em;
}

.form_field {
	
}

.form_field input {
	width:   		   	   300px;
	height: 			   45px;
	background:            #D5E1A5;
	border:                2px #6C7F21 solid;
	color:                 #37195A;
	font-size:  		   15px;
	padding-left: 		   15px;	
	opacity:               0.9;
	/*Rounded*/
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius:  5px;
    border-radius:         5px;
}

.form_field input:focus {
/*	background: #B1C465;*/
	border:     2px #37195A solid;
}

.field_with_errors input {
	width:   		   	   300px;
	height: 			   45px;
	background:            #DDA2B1;
	border:                2px #791F36 solid;
	color:                 #37195A;
	font-size:  		   15px;
	padding-left: 		   15px;	
	opacity:               0.9;
	/*Rounded*/
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius:  5px;
    border-radius:         5px;
}

#error_explanation {
	font-weight: bold;
}

.error {
	margin:      auto auto;
	font-size:   140%;
	text-align:  center;
	width:       550px;
}
       

        /**************************/
        /**** placeholder text ****/
        /**************************/

input::-webkit-input-placeholder {
    color:       #37195A;
    font-size:   15px;
}
input::-moz-placeholder {
    color:       #37195A;
    font-size:   15px;
}
input:-moz-placeholder {   
    color:       #37195A;
    font-size:   15px;
}
input:-ms-input-placeholder { 
    color:       #37195A;
    font-size:   15px;
}

	/*placeholder for field_with_errors*/

		.field_with_errors input::-webkit-input-placeholder {
    color:       #791F36;
    font-size:   15px;
}
		.field_with_errors input::-moz-placeholder {
    color:       #791F36;
    font-size:   15px;
}
		.field_with_errors input:-moz-placeholder {   
    color:       #791F36;
    font-size:   15px;
}
		.field_with_errors input:-ms-input-placeholder { 
    color:       #791F36;
    font-size:   15px;
}
