/******color palette******/
/*   http://colorschemedesigner.com/#2a31TfwpDw0w0   */

/******Fonts******/
/*BERKSHIRE SWISH*/
/****HTML****/
/*<link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>*/
/****CSS****/
/*font:        400 45px/1.3 'Berkshire Swash', Helvetica, sans-serif;
color:       #A283C5; 
text-shadow: 3px 1px 3px #37195A, 4px 4px 0px rgba(0,0,0,0.15);*/


#menu_box {
      /*STYLE*/
  	background:    #88935E;
    border-bottom: 5px double #6C7F21;
    float:         left;
	width:         100%;
	height:        50px;
	opacity:       0.95;
	  /*POSITION*/
	position:      absolute;
	top:           0px;
	left:          0px;	
}

.input{
    text-align: center;
}

.input input{
	width:   		   	   200px;
	height: 			   30px;
    font:                  400 45px/1.3 'Berkshire Swash', Helvetica, sans-serif;
	font-size:  		   16px;
	color:                 #6C7F21;
	padding-left: 		   35px;	
	opacity:               0.9;
	/*Rounded*/
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius:  5px;
    border-radius:         5px;
}

input:focus {
    border:  2px solid #B1C465;
    opacity: 1.0;
}

.email_input input {
	background: #353743 url(/assets/mail.png) 1px 1px no-repeat;
    position:   absolute;
	top:        9px;
	right:      385px;
}

.password_input input {
	background: #353743 url(/assets/key.png) 1px 2px no-repeat;
    position:   absolute;
	top:        9px;
	right:      135px;
}

.login_button {
	width:           100px;
	position:        absolute;
	top:             10px;
	right:           20px;	
	background:      #88935E;
	border:          2px #6C7F21 solid;
	font:            400 45px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color:           #37195A; 
    text-shadow:     3px 1px 3px #6C7F21, 3px 3px 0px rgba(0,0,0,0.15);
    font-size:       100%;
	text-decoration: none;
	text-align:      center;
	
}

.login_button:hover {
	background:  #694D8A;
	border:      2px #37195A solid;
	color:       #6C7F21;
	text-shadow: 3px 1px 3px #37195A, 3px 3px 0px rgba(0,0,0,0.15);
}


body {
  background-image: url('/assets/chalkboard.png');
}



#landing_text {
  	text-align: left;
	width:      800px;
	font-family: 'The Girl Next Door', cursive;
}

h2 {
    font:        400 70px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color:       #A283C5; 
    letter-spacing: -1px;
    text-shadow: 3px 1px 3px #37195A, 4px 4px 0px rgba(0,0,0,0.15);
    position:    absolute;
    top:         20px;
    left:        20px;
}

h4 {
    font-size:      160%;
    font-weight:    115px;
    text-align:     center;
    letter-spacing: 0.8px;
    color:          #B1C465;
    width:          300px;
    position:       absolute;
    top:            150px;
    left:           80px;
}

#home_logo {
    position:   absolute;
    bottom:     2%;
    right:      60px;
    float:      right;
    width:      400px;
    height:     502px;
}

#buttons {
	position: absolute;
	bottom:   13%;
	left:     17%;
}

.big_button {
	background:      #88935E;
	border:          2px #6C7F21 solid;
	font:            400 70px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color:           #37195A; 
    text-shadow:     3px 1px 3px #6C7F21, 3px 3px 0px rgba(0,0,0,0.15);
	font-size:       200%;
	text-decoration: none;
	width: 		     300px;
	margin-left:     auto;
	margin-right:    auto;
	margin-top:      25px;
	padding:         20px;
	display:         block;
	text-align:      center;	
}

.big_button:hover {
	background:  #694D8A;
	border:      2px #37195A solid;
	color:       #6C7F21;
	text-shadow: 3px 1px 3px #37195A, 3px 3px 0px rgba(0,0,0,0.15);
}

/*general classes*/
.unselectable {
	-webkit-user-select: 	none; /* Chrome/Safari */        
	-moz-user-select: 		none; /* Firefox */
	-ms-user-select: 		none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: 		none;
	user-select: 			none;
	
	/*http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting*/
	-webkit-touch-callout:  none;
	-webkit-user-select:    none;
	-khtml-user-select:     none;
	-moz-user-select:       none;
	-ms-user-select:        none;
	user-select: 			none;
}

.round {
	-moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius:  15px;
    border-radius:         15px;
}