/*  PINK     #FA6175    */
/*  RED      #9E0519    */
/*  YELLOW   #FFA600    */
/*  BROWN    #762719    */
/*  GREEN    #B1C465    */

header {
    background: #B1C465;
}

#menu_box {
      /*STYLE*/
  	background:    #FFA600;
    border-bottom: 5px double #762719;
    float:         left;
	width:         100%;
	height:        50px;
	opacity:       0.95;
	  /*POSITION*/
	position:      absolute;
	top:           0px;
	left:          0px;	
}

.input{
    text-align: center;
}

.input input{
	width:   		   	   200px;
	height: 			   30px;
	font:        		   400 45px/1.3 'Berkshire Swash', Helvetica, sans-serif;	
	font-size:  		   16px;
	padding-left: 		   35px;	
	opacity:               0.9;
	/*Rounded*/
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius:  5px;
    border-radius:         5px;
}

input:focus {
    border:  2px solid #9E0519;
    opacity: 1.0;
}

.email_input input {
	background: #444 url(/assets/mail.png) 1px 1px no-repeat;
    position:   absolute;
	top:        9px;
	right:      385px;
}

.password_input input {
	background: #444 url(/assets/key.png) 1px 2px no-repeat;
    position:   absolute;
	top:        9px;
	right:      135px;
}

.login_button {
	width:    100px;
	position: absolute;
	top:      15px;
	right:    20px;
}


body {
  background-image: url('/assets/chalkboard.png');
}

h2 {
  font:        400 45px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color:       #B1C465; 
  text-shadow: 3px 1px 3px #762719, 4px 4px 0px rgba(0,0,0,0.15); 
}

#landing_text {
  font-size:  70%;
  text-align: left;
  width:      750px;
  position:   absolute;
  top:        40px;
  left:       20px;
}

#home_logo {
  position:   absolute;
  bottom:     2%;
  right:      50px;
  float:      right;
  width:      400px;
  height:     502px;
}

/*general classes*/
.unselectable {
	-webkit-user-select: 	none; /* Chrome/Safari */        
	-moz-user-select: 		none; /* Firefox */
	-ms-user-select: 		none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: 		none;
	user-select: 			none;
	
	/*http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting*/
	-webkit-touch-callout:  none;
	-webkit-user-select:    none;
	-khtml-user-select:     none;
	-moz-user-select:       none;
	-ms-user-select:        none;
	user-select: 			none;
}

.round {
	-moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius:  15px;
    border-radius:         15px;
}