<div class="field  form_field">
	<%= f.text_field :name, placeholder: "Student name"%>
</div>
<br />
<div class="field dropdown">
	<%= f.select :gender, [["select a gender", ""],'Female', 'Male', 'Transgender'] %>
</div>
