<!-- if "Group_by_STUDENT_GROUP" -->

<% @students.each do |group, students| %>
  <div class="holder round">
  	<h2><%= group.name %></h2><hr />
	  <table class="fixed">  
			<tbody>
			  <% students.each do |student| %>
			  <tr class="<%= cycle("odd", "even")%>">
			    <td><%= link_to student.name, student_path(student, {student_group_id: student.student_group_id}) %></td>
			    <td></td>
			    <td></td>
					<% if student.avg.nan? %>
					  <td class="strong">No data yet!</td>
					<% else %>
					  <td class="avg_row"><%= student.avg %></td>
					<% end %>
			  </tr>
			  <% end %>
		  </tbody>
		</table>
	</div>
<% end %>