<%= form_for([@student_group, @student]) do |f| %>
  
  <div class="holder round">
  	<%= render 'student_fields', :f => f %>
  </div>

  <%= f.submit "Submit", :class => 'big_button round unselectable' %>

<% end %>