<h3>
	Member of <span class="name"><%= @student_group.name %></span> for <%= @student.student_for_weeks %>
</h3>
  
<% @subjects.all.each do |subject| %>
  <div class="holder round"> 
    <h2 class="float_left">
  	  <%= subject.name %>:
    </h2>
    
	  <div class="holder2 round clear center">
	  	<table>
	      <%= render "goals_by_subject", subject: subject %>
	    </table>
	  </div>
	
  </div>
<% end %>


