<div>
	<p>Your full name:
		<div class="form_field round">
		  <%= f.text_field :name %>
		</div>
	</p>

	<p>Your email address:
		<div class="form_field round">	
			<%= f.email_field :email %>
		</div>
	</p>

	<p>Your password:
		<div class="form_field round">
		  <%= f.password_field :password %>
		</div>
	</p>

	<p>Confirm your password:
		<div class="form_field round">
			<%= f.password_field :password_confirmation %>			
		</div>
	</p>
</div>