<div class="form_field round">
 	  <%= f.text_field :name, placeholder: "Full name" %>
     	<div class="form_text">
      	Names can be up to 40 characters
      </div>
</div>

<div class="form_field round">
	  <%= f.email_field :email, placeholder: "Email address" %>
</div>

<div class="form_field round">
    <%= f.password_field :password, placeholder: "Password" %>
    	<div class="form_text">
	      Passwords must be between 3-40 characters
      </div>
</div>

<div class="form_field round">
	  <%= f.password_field :password_confirmation, placeholder: "Re-type your password" %>			
</div>
