<div>
	<p>
		<div class="form_field round">
		  <%= f.text_field :name, placeholder: "Full name" %>
		</div>
	</p>

	<p>
		<div class="form_field round">	
			<%= f.email_field :email, placeholder: "Email address" %>
		</div>
	</p>

	<p>
		<div class="form_field round">
		  <%= f.password_field :password, placeholder: "Password" %>
		</div>
	</p>

	<p>
		<div class="form_field round">
			<%= f.password_field :password_confirmation, placeholder: "Re-type Password" %>			
		</div>
	</p>
</div>