<h2>
Settings
</h2>

<%= form_for(@user) do |f| %>

<%= render 'shared/error_messages' %>
	
<div class="form_section round center">
	
	<%= render 'fields', :f => f  %>
	
	<div>
	  <%= f.submit "Update information", :class => 'big_button round unselectable' %>
	</div>
	
</div>

<% end %>