<%= form_for(@user) do |f| %>

<%= render 'shared/error_messages' %>

<div class="form_section round center">

  <%= render 'fields', :f => f  %>

	<div>
	  <%= f.submit "Get Started!", :class => 'big_button round unselectable' %>
	</div>

</div>

<% end %>