<p>Soon there will be something here. A <%= link_to "link", '#' %> perhaps?</p>

<p> 
	<!--  http://stackoverflow.com/questions/16614220/no-route-matches-controller-queue-videos-even-i-used-the-path-from-rake-ro -->
	<%= link_to "All groups", classes_path %><br />
  <br/>
	<%= link_to "Create a new group", new_student_group_path %>
</p>
