<h1>About</h1>
<p>
	"Ganesh" is a project which began as I spent a long weekend writing progress reports, and has (read: will soon!) evolved into a fully-functioning progress report generator for teachers, coaches, or even for yourself.  I've always disliked lazy teachers who like to take shortcuts - but there can be a difference between shortcuts and timesavers.  My goal for this application is for users to be able to make fully personalized and precise progress reports based on their own goals - not to churn out generic 'Johnny is doing well' documents.  
</p>