<h1>About</h1>

<p>"Ganesh" is a project which began as I spent a long weekend writing progress reports, and has (read: will soon!) evolved into a fully-functioning progress report generator for teachers, coaches, or anyone else who needs a simple way to critique a group of individuals based on specific goals.</p>  
<p>My hope is that users will be able to easily set specific goals for each group of students before the class begins, and then create fully personalized and precise progress reports based on them.  I will do my best to prevent this app being used as a way to churn out generic 'Johnny is doing well' documents.</p>