<div class="holder round">
	
	Something's gone wrong.  If you think it's broken on our side of things, please <%= link_to "contact", contact_path %> us.

	<p id="buttons" class="center">
		<%= link_to "back to dashboard", root_path, class: "big_button round" %>
	</p>
</div>