<h1>
	Oh dear!
</h1>

<p>
	Something's gone wrong.  If you think it's broken on our side of things, please <%= link_to "contact", contact_path %> us.
</p>

<p id="buttons" class="center">
	<%= link_to "back to dashboard", root_path, class: "big_button round" %>
</p>