<p>
  “Know then that there is nothing more lofty, nor more powerful, not more healthy nor more useful later in life than some good memory, and particularly one that has been borne from childhood, from one’s parents’ home. Much is said to you about your education, but a beautiful, sacred memory like that, one preserved from childhood, is possibly the very best education of all.”
</p>
<h3>The Brothers Karamazov - Dostoyevsky</h2>