<p>
	“…words have power. The technical, verbal part of literature is simply a development of magic. Words are man’s first and most grandiose invention. With language he created a whole new universe; what wonder if he loved words and attributed power to them! With fitted, harmonious words the magicians summoned rabbits out of empty hats and spirits from the elements. Their descendants, the literary men, still go on with the process, morticing their verbal formulas together and, before the power of the finished spell, trembling with delight and awe. Rabbits out of empty hats? No, their spells are more subtly powerful, for they evoke emotions out of empty minds…The creation by word-power of something out of nothing – what is that but magic?”
</p>
<h2>Chrome Yellow - Aldous Huxley</h2>