<div class="holder round">
	<p>
		Your account (and all your data) has been deleted.
	</p>
	<p>
		Sorry to see you go! If you have a few moments, please <%= link_to "tell us", contact_path %> about your experience using Ganesh, and/or why you've closed your account.  Thanks!
	</p>
</div>