<h2>
	Your account has successfully been deleted
</h2>

<p>
	Sorry to see you go! If you have a few moments, please <%= link_to "tell us", contact_path %> about your experience using Ganesh, and/or why you've closed your account.  Thanks!
</p>