<div class="holder round">
	<h3>
		This will be filled in as problems arise.  If you have a persistent problem that isn't 
		listed here, please visit the <%= link_to "Ganesh subreddit", 
		"http://www.reddit.com/r/ganesh_beta/" %> where you can notify us about bugs, 
		make suggestions and interact with other Ganesh users.
	</h3>

  <div class="holder2 round">
  	<h3>
			I can't login!
		</h3>
		<p>
			If you're using Safari, check 'preferences' > 'privacy' and be sure that the 'block 
			cookies' option is set to 'From third parties and advertisers' (or 'Always' but this isn't 
			recommended).
		</p>
  </div>

</div>