
<div id="home_logo" class="unselectable">
<%= image_tag("ganesh.png") %>
</div>

<!-- <%= link_to "Sign up now!", signup_path, class: "signup-button round" %> -->

<div id="landing_text" class="unselectable">
	<h2 unselectable="on">Ganesh is a tool to help define goals and evaluate how well they have been met</h2>
</div>

<div id="sign_log_box" class="unselectable round">
 
</div>