<div class="holder round">

  <p>
  	Edit <%= link_to "user settings", edit_user_path(current_user) %> to change your name, 
	  email and/or password - or to delete your account!
  </p>

	<p>
		Edit your student groups: <br />
		  <% @user.student_groups.all.each do |group| %>
		    <%= link_to "x", {controller: 'student_groups', 
			                    action: 'destroy', 
			                    user_id: @user.id, 
			                    id: group },
	                       {confirm: "Do you really want to delete #{group.name}?",
		                      method: :delete, 
		                      class: "superscript_x"} %>
		    <%= link_to "#{group.name}", edit_student_group_path(group) %><br />
		  <% end %>
	</p>
</div>