<div class="holder round">

  <p>
  	Edit <%= link_to "user settings", edit_user_path(current_user) %> to change your name, 
	  email and/or password - or to delete your account!
  </p>

	<% render "edit_student_groups" unless @user.student_groups.nil? %>
	
</div>