<tr class="nested-fields">
	<td class="form_field"><%= f.text_field :name, placeholder: "Subject name" %></td>
  <!-- <td class="date_selektor"><%#= f.XXXXXX :start_date %></td>
  <td class="date_selektor"><%#= f.XXXXXX :end_date %></td> -->
</tr>