<table class="students_index">
  
  <% @subjects.each do |subject| %>
	   <tbody> 
	    <tr>
	    	<th>
		      <!-- ####  change this later!  #### -->
	        <%#= link_to student.name, student_path(student, {student_group_id: student.student_group_id}) %>
		    </th>
	    </tr>
		</tbody>
  <% end %>

</table>