<div class="holder round">

  <%= render 'subject_show_header' %>

	
	<div class="holder2 round clear">
		
		<%= render 'subject_show_goals' if @subject.goals.present? %>

    <div class="new_x">
  	  <%= link_to "Add goals", new_subject_goal_path(@subject) %>
    </div>
	</div>

</div>