<div class="holder round">

		<% if @subject.avg.nan? %>
		  <h2 class="center">
		  	This subject has not yet been evaluated
		  </h2>
		<% else %>
      <h3>
      	The overall average for <span class="named"><%= @subject.name %></span> 
			  is <%= @subject.avg %>
      </h3>
		<% end %>

	
	<div class="holder2 round">
		
		<%= render 'subject_show_goals' if @subject.goals.present? %>

    <div class="new_x">
  	  <%= link_to "Add goals", new_subject_goal_path(@subject) %>
    </div>
	</div>

</div>

