<div class="goal_add_remove">
  <span class="span-3" id="remove_goal">
    <%= content_tag("a", "Remove goal") %>
  </span>

  <span id="add_goal">
    <%= content_tag("a", "Add goal") %>
  </span>
</div>