<%= render "shared/group_name", group: group %>

<div class="holder round clear toggle_element">
	  <% subjects.each do |subject|  %>
	  <div class="holder2 round">
		
  		<div>
	      <%= content_tag("a", "∆ ", class: "toggle_switch padding left") %>
  			<%= render 'goal_subject_header', :subject => subject %>
        <hr />
  		</div>

		  <table class="toggle_element">  
				<tbody>
					<%= render 'goal_list', :subject => subject %>
			  </tbody>
			</table>
		</div>
		<% end %>
</div>




