<table id="goal_form"> 
    <tr>
			<td class="goal_field fields">
			  <%= text_field_tag 'goals[]', nil, :placeholder => "Students should..." %>
			</td>
		</tr>
 </table>
 
<%= render 'add_remove_goal' %>

<%= render 'another_subject' %>

<br />

