<div class="holderv round float_left">
	<h1><%= group.name %></h1>
  <%= content_tag("a", "∆", class: "toggle_group_name") %>
</div>

<div class="holder round clear group_name">
	  <% subjects.each do |subject|  %>
	  <div class="holder2 round">
		
  		<%= render 'goal_subject_header', :subject => subject %>
		
		  <table>  
				<tbody>
					<%= render 'goal_list', :subject => subject %>
			  </tbody>
			</table>
		</div>
		<% end %>
</div>




