<div id="goal_form"> 
	<%= f.fields_for(:goals) do |gf| %>
	  <div class="goal_field fields">
		  <%= gf.text_field :goal, placeholder: "Students should..." %><br />
		</div>
		<% end %>
</div>
 
<%= render 'goals/add_remove_goal' %>

<%= render 'goals/another_subject' unless params[:action] == "edit" %>

<br />