  <h1>Need some help?</h1>
  	<p>
	    Writing good goals makes a huge difference - in fact that's the whole idea behind
	    this site!
	    It might seem a bit tough at first, but don't worry - here's some guidelines
	    to get you started:
	  </p>
  <ol><li><h4>
	  For every goal, imagine <em>"Students should...</em>" before it.
	</h4></li></ol>

	For example: <br />
		<ul>
			<li>Students in <%= @subject.name %> should respect others</li>
			<li>Students in <%= @subject.name %> should participate during class</li>
			<li>Students in <%= @subject.name %> should focus when necessary</li>
		</ul>

    <br />

    <ol start="2"><li><h4>
		  Try to write 'positive' goals.  Positive goals are easier to evaluate!
		</h4></li></ol>   

  	For example: <br />
      <ul>
        <li>"Perform cartwheels on command" is GOOD</li>	
        <li>
	        "Not chew their pencils" is NOT GOOD, 
	        but 
	        "Keep their pencils out of their mouths" is GOOD
	      </li>
        <li>
        	"Not struggle to read" is NOT GOOD, 
  				but
					"Display level-appropriate reading comprehension" is GOOD
        </li>
      </ul>

			<br />
			
			<ol start="3"><li><h4>
			  Write goals that test only <span class="strong">one</span> thing.
			</h4></li></ol>

			For example: <br />
	      <ul>
	        <li>"Turn in homework on time" is GOOD</li>	
					<li>"Turn in legible homework" is GOOD</li>
	        <li>"Turn in homework on time and neatly written" is NOT GOOD</li>
	      </ul>