

<%= form_for([@subject, @goal]) do |f| %>

	<table>
  	<tbody>
      <tr>
	  	  <th>Goal:</th>
	    </tr>
	    <tr class="nested-fields">
				<td class="goal_field field"><%= f.text_field :goal %></td>
			</tr>
    </tbody>
  </table>
  
  <%= render 'another_subject' %>

  <br />

  <%= f.submit "Submit", :class => 'big_button round unselectable' %>
	
<% end %>