<div class="holder round unselectable">

	<h3>
		What should this goal be?
	</h3>

  <%= form_for([@subject, @goal]) do |f| %>
		<div class="goal_field fields">
		  <%= f.text_field :goal %>
		</div>
	  <br />
	  <%= f.submit "Submit", :class => 'big_button round unselectable' %>
	<% end %>

</div>