<div class="holder round">

	<h1 class="center">
		Members of <%= link_to "#{@goal.subject.name}", 
		               subject_path({student_group_id: @subject.student_group_id, 
			                           id: @subject}) %> 
		should <%= "#{@goal.goal.downcase}" %>
	</h1>

  <div class="holder2 round">
    <% if @goal.avg.nan? %>
      <p>
        This goal has not been evaluated yet!
  	</p>
    <% else %>	
      <%= render 'evaluations_by_goal' %>			
    <% end %>	
  </div>
<div/>