<div class="holder round">
<h3>
	Members of <%= link_to "#{@goal.subject.name}", subject_path(@subject, {student_group_id: @subject.student_group_id}) %> in <%= @subject.student_group.name %> should:
</h3>

<h1 class="center"><%= "#{@goal.goal}" %></h1>

<p>
	The overall average for this goal is <%= @goal.avg unless @goal.avg.nan? %>
</p>



</div>


