<div class="holderv round float_left">
	<h1>
		Members of <br /><%= link_to "#{@goal.subject.name}", 
		               subject_path({student_group_id: @subject.student_group_id, 
			                           id: @subject}) %> 
	</h1>
	<h4>should <%= "#{@goal.goal.downcase}" %></h4>
</div>
<div class="holder round clear">

    <% if @goal.avg.nan? %>
      <h3 class=center>
        This goal has not been evaluated yet!
    	</h3>
    <% else %>	
      <%= render 'evaluations_by_goal' %>			
    <% end %>	

<div/>