.container {
	width: 710px;
}

body {
	background: #3C6AB5;
}

header img {
	margin-top: 2em;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

section h1 {
	font-size: 200%;
}

a {
	color: #fff;
	text-decoration: none;
	
}

a:hover {
	color: #B44A3C;
}

a:visited {
	color: #B44A3C;
}

nav {
	float: right;
	whitespace: nowrap;
	padding: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em;
}

nav ul li a {
	padding: 0 3px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #fff;
}

.round {
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:         10px;
}

footer {
	background: #fff;
	text-align: right;
	width: 710px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}