<!DOCTYPE html>
<html>
<head>
	<title><%= title %> | Log In or Sign up</title>
  <%= csrf_meta_tags %>	
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <%= render 'layouts/landing' %>
</head>
<body>
	<%= yield %>
</body>
</html>